#canvas {
  margin: auto;
  background: #eee56a;
  width: 100%;
}
.navbar-brand {
  margin: 0 auto;
}
body {
  background-color: rgb(230, 222, 222);
}

.footer {
  margin: 15px 0 5px;
  padding: 0.1rem !important;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  background-color: #007dfa !important;
}
.footer h4 {
  color: white;
  text-align: center;
}
